@model IEnumerable<string>
@{
    ViewData["Title"] = "Empty Halls";
    int index = 1;
}

<h3 class="text-center">قائمة القاعات </h3>
<hr />
<label class="text-primary h5 "> <strong>المحاضرة :</strong>  @ViewData["Time"] </label>
<br />
<label class="text-success h5 ">  <strong>اليوم :</strong> @ViewData["Day"]</label>
<div class="bd-example">
    @if (Model.Count() > 0)
    {
        <table class="table table-sm  table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">القاعة</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@index</th>
                        <td>
                            ك @item
                        </td>
                    </tr>
                    index++;
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger text-center">
            لا يوجد قاعات فارغة 
        </div>
    }
</div>
<a asp-action="Search" class="btn btn-danger">رجوع</a>